@{
ViewData["Title"] = "Not Found";
}


<section class="wow fadeInUp pt-[120px] lg:pt-[240px]" data-wow-delay=".2s">
  <div class="px-4 xl:container">
    <div class="border-b pb-20 dark:border-[#2E333D] lg:pb-[130px]">
      <div class="relative mx-auto max-w-[550px] pt-6 text-center md:pt-8">
        <span class="title"> ERROR </span>
        <h1
          class="mb-8 font-heading text-[100px] font-semibold leading-none text-dark dark:text-white md:text-[170px] md:leading-none">
          404
        </h1>
        <h2 class="mb-5 font-heading text-3xl font-medium text-dark dark:text-white md:text-4xl">
          Sorry, the page can't be found
        </h2>
        <p class="mx-auto mb-10 max-w-[515px] text-base text-dark-text">
          The page you were looking for appears to have been moved, deleted
          or does not exist.
        </p>
        <a href="home"
          class="inline-flex items-center justify-center rounded bg-primary py-[14px] px-8 text-sm font-semibold text-white">
          Back to Home
        </a>
      </div>
    </div>
  </div>
</section>